[flake8]
max-line-length = 100
extend-ignore =
    E221,
    W503
exclude =
    .venv,
    migrations,
    __pycache__,
    .git
per-file-ignores =
    config/settings.py: E501
    apps/tickets/management/commands/seed_demo.py: E501
    */admin.py: F401
    */models.py: F401
    */views.py: F401
    */tests.py: F401